[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "==1.17"
scipy = "==1.1"
scikit-learn = "*"
pandas = "*"
matplotlib = "*"
ipython = "*"
jupyterlab = "*"
nipy = "*"
nibabel = "*"
nilearn = "*"
h5py = "*"
hdf5storage = "*"
pyyaml = "*"
bdpy = "*"
appnope = "*"
tqdm = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
